h1, h2, h3 {
    text-align: center;
}

.position_on_page {
    margin-left: 30px;  /* Отступ слева от границы родителя */
    /* или */
    padding-left: 30px; /* Отступ внутри блока + сдвиг фона */
}

.font-face {
    font-family: 'KnightsQuest';
    src: url('fonts/KnightsQuest.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    background: linear-gradient(to right, #CAC4B0, #99958C);
}


.btn-del {
    background-color: #ff5722; /* Оранжевый */
    color: white;
    border: none;
    padding: 10px 20px;
  }

.btn-upd{
    background-color: green; /* Оранжевый */
    color: white;
    border: none;
    padding: 10px 20px;
  }

.bd-navbar {
    padding: .50rem 0;
    background-color: #000000;
}

form.login_form{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #CAC4B0;
    padding: 10px;
    border: 1px solid #25221B;
    border-radius: 10px;
    text-align: center;
}

.feedback{
    width: 40%;
    float: right;
    position: relative;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #CAC4B0;
    padding: 10px;
    border: 1px solid #25221B;
    border-radius: 10px;
    text-align: center;
}


.map {
    font-size: 23px;
    float: left;
    width: 60%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #CAC4B0;
    padding: 10px;
    border: 1px solid #25221B;
    border-radius: 10px;
    text-align: center;
}