{% extends "base.html" %}

{% block content %}
<h2>Настольные игры</h2>

{% for item in games %}
<div class="row position_on_page padding-left first_page">
    <div class="col-md-6 border rounded">
        <h3>{{item.name_game}}</h3>
        <p>{{item.content}}</p>
        <div>Дата проведения игры: {{item.event_date}}</div>
        <div>Количество игроков: {{item.count_players}}</div>
        <div>Организатор: {{item.owner.name}}</div>
    </div>
    {% if current_user.is_authenticated %}

{% endif %}

    {% endfor %}


    {% endblock %}