{% extends "base.html" %}

{% block content %}
<h2>Настольные игры</h2>
{% for item in games %}
<div class="row">
    <div class="col-md-6 border rounded">
        <ul>
            <li>
                <div class="position_on_page">
                <h3>{{item.name_game}}</h3>
                <p>{{item.content}}</p>
                <div>Дата проведения игры: {{item.event_date}}</div>
                <div>Количество игроков: {{item.count_players}}</div>
                <div>Организатор: {{item.owner.name}}</div>
                    </div>
            </li>
        </ul>
    </div>
    {% if current_user.is_authenticated %}

    {% endif %}

    {% endfor %}


    {% endblock %}