{% extends "base.html" %}

{% block content %}
<h1>Настольные игры</h1>
{% if current_user.is_authenticated %}
<a href="/gamesplay" class="btn btn-secondary btn-sm my-1">
    Добавить игру
</a>
{% endif %}
{% for item in games %}
<div class="row">
    <div class="col-md-6 border rounded">
        <h3>{{item.name_game}}</h3>
        <p>{{item.content}}</p>
        <div>Дата проведения игры: {{item.event_date}}</div>
        <div>Количество игроков: {{item.count_players}}</div>
        <div>Организатор: {{item.owner.name}}</div>
    </div>
</div>
{% if current_user.is_authenticated and current_user == item.owner  %}
<div class="py=1">
    <a href="/gamesplay/{{item.id}}" class="btn btn-warning btn-sm my-1">
        Редактировать
    </a>
    <a href="/gamesdelete/{{item.id}}" class="btn btn-danger btn-sm my-1">
        Удалить
    </a>
</div>
{% endif %}
{% endfor %}
{% endblock %}