{% extends "base.html" %}

{% block content %}
<div>
<h1><i>Настойки за настолкой</i> в хорошей компании!</h1>

<p> Хотите найти единомышленников для партии в «Манчкин»? </p>
<p> Любите настольные игры, но не хватает команды?  </p>
<p> Надоело играть в "Уно" вдвоём? zrdetahgrefrgvaref </p>
<p> Хочешь собрать команду для эпичной "Монополии"? </p>
<p><b>Этот сайт создан, чтобы ты быстро находил игроков рядом — для классики, современных стратегий или безумных
    настолок.
</b></p>
<div>
    <ul>
        <li>Ищешь встречи в своём городе (или создаёшь свою)</li>
        <li>Знакомишься с крутыми людьми</li>
        <li>Играешь так, как давно хотелось!</li>
    </ul>
</div>
<p>Здесь собираются те, кто ценит живое общение, стратегии, веселые вечера и азарт настольных игр. Регистрируйтесь,
    создавайте события или находите подходящие — и пусть каждая партия станет незабываемой!</p>
<p>🎲 Играйте с удовольствием, играйте вместе!
    <a href="/register" >Регистрируйся и бросай вызов!</a> 🎲</p>
</div>
{% endblock %}